<%- include('../partials/header'); -%>

<h1>NEW BLOG</h1>
<div class="container" style="margin: 0 auto; float:none;">
    <form action="/blogs" method="POST">
        <div class="form">
            <div class="form-group col-md-4">
                <label for="title">Title</label>
                <input type="text" name="title" class="form-control" id="title" placeholder="Enter Title">
            </div>
            <div class="form-group col-md-4">
                <label for="image">Image Url</label>
                <input type="text" name="image" class="form-control" id="image" placeholder="Enter Image Url">
            </div>
            <div class="form-group col-md-4">
                <label for="body">Post Content</label>
                <textarea name="body" class="form-control" id="body" cols="58" rows="6"></textarea>
            </div>
            <div class="form-group col-md-3">
                <input type="submit" class="btn btn-primary" name="submit">
            </div>
        </div>
    </form>
</div>


<%- include('../partials/footer'); -%>