<%- include('partials/header'); -%>


<div class="conatiner jumbotron" style="text-align:center;">
    <h1>Landing page</h1>

    <form action=" /blogs" method="GET">
        <button class="btn btn-success">Continue To Blog Post</button>
    </form>

</div>



<%- include('partials/footer'); -%>